.logoImg {
  width: 35%;
}

.logoLink {
  font-family: "Xanh Mono", monospace;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  width: 220px;
}
.navbarStyle {
  text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
  border-bottom: 1px solid rgba(28, 28, 28, 0.6);
}
.blueColor {
  border: 1px solid #4899eb !important;
  color: #4899eb !important;
}
